@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Titillium+Web:wght@300&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #696969
}

.home-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    padding-top: 250px;
}

.name {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 100px;
    cursor: default;
}

.languages {
    margin-top: -60px;
    font-size: 25px;
    cursor: default;
}

.languages-link {
    color: black;
}

.bi-github, .bi-linkedin, .bi-envelope-fill {
    background: none;
    border: none;
    font-size: 60px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.bi-github:hover, .bi-linkedin:hover, .bi-envelope-fill:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 420px) {
    .name {
        font-size: 70px;
    }

    .languages {
        font-size: 15px;
        margin-top: -50px;
    }

    .title {
        padding-top: 100px;
    }

    .bi-github, .bi-linkedin, .bi-envelope-fill {
        font-size: 40px;
        padding: 20px;
    }
}

@media screen and (max-width: 800px) {
    .title {
        padding-top: 100px;
    }
}